@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: black;
    color: #F6F6F6;
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: rgb(248, 7, 196);
    text-decoration: none;
}

.titulo-destaque {
    color: rgb(248, 7, 196);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__texto {
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__conteudo__texto1 {
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__conteudo__subtitulo{
    font-size: 22px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__subtitulo_sub{
    font-size: 15px;
    font-weight: 300;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__link {
    /* background-color: #2DFFFD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid rgb(248, 7, 196);
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links__link:hover {
    background-color: #272727;
}

.imagem {
    border-radius: 10px;
    border: 2px solid rgb(248, 7, 196);
}

.rodape{
    padding: 24px;
    color: #000000;
    background-color: rgb(216, 4, 170);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
}